body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: black;
}

#game-board {
	background-color: #ccc;
	width: 100vmin;
	height: 100vmin;
	display: grid;
	grid-template-rows: repeat(21, 1fr);
	grid-template-columns: repeat(21, 1fr);
}

.snake {
	background-color: hsl(200, 100%, 50%);
	border: 0.25vmin solid black;
}

.food {
	background-color: hsl(50, 100%, 50%);
	border: 0.25vmin solid black;
	height: 50%;
	width: 50%;
	transform: translate(25%, 25%);
}

.alert {
	padding: 20px;
	position: absolute;
	background-color: #f44336;
	color: white;
	margin-bottom: 15px;
	font-size: 36px;
}

/* The close button */
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 42px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
	color: black;
}
